.header {
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  margin-right: 16px;
  font-family: arial,sans-serif;
  font-size: 13px;
}

.headerli a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.headerli a:hover {
  text-decoration: underline;
}

.container {
  display: block;
  margin: 0px auto;
  margin-top: 50px;
  text-align: center;
}

.search-area {
  width: 480px;
  margin: 0px auto;
  position: relative;
  text-align: center;
  margin-top: 15px;
  
}


.search-img {
  display: flex;
  align-items: center;
  margin-top: -60px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: -50px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
  margin-left: 5px;
}

/* Voice search ikonu eklendi  */
.vs-icon {
  width: 24px;
  position: absolute;
  top: 12px;
  right: -40px;

}



.search-area .search-input {
  display: block;
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  padding: 13px;
  padding-left: 45px;
  border-radius: 25px;
  width: 100%;
  transition: box-shadow 100ms;
  outline: none;

}

.search-area .search-input:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 
              0 0 2px rgba(0, 0, 0, 0.05),
              0 0 3px rgba(0, 0, 0, 0.05), 
              0 0 4px rgba(0, 0, 0, 0.05), 
              0 0 5px rgba(0, 0, 0, 0.05), 
              0 0 4px rgba(0, 0, 0, 0.05), 
              0 0 5px rgba(0, 0, 0, 0.05)
}

/* Search butonları güncellemesi  */
.searchbutton {
 border:1px #f2f2f2;
 padding:  9px 15px;
 color: #5f6368;
 font-size: 14px;
 border-radius: 4px;
 display: inline-block;
 margin-right: 10px;
 margin-top: 28px;
 outline: none;
 cursor: pointer;
 transition: border-color 100ms;
 height: 36px;
 font-family: Arial, Helvetica, sans-serif;
 }

 .searchbutton:hover{
   border: 1px solid #aaa;
 }

 /* Dil seçeneği için style eklendi  */

.language {
  margin-top: 80px;
  text-align: center;
  font-size: 13px;
  color: #111;
  font-family: Arial, Helvetica, sans-serif;
  
}

.language a {
  margin-left:5px;
  color: #1a0dab;
  text-decoration: none;
}

.language a:hover {
  text-decoration: underline;
}



/* Footer/alt navbar için gerekli olan eklemeler yapıldı */

footer {
  background: #f2f2f2;
  margin-top: 170px;
}

footer h4 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
  line-height: 39.5px;
  font-weight: 400;
  padding-left: 29px;
  border:1px solid #eee;
}

footer a {
  color: #5f6368;
  display: inline-block;
  padding: 12px 11.3px;
  font-size: 14px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
  text-decoration: underline;
}

.links {
  border-top:1px solid #ddd;
  display:flex;
}

.link-1 {
  padding-left: 18.7px;
  flex: 1;
}

.link-2 {
  padding-right: 18.7px;

}
/* Fotoğraf yuvarlak yapıldı */
#jpegcircle {
    border-radius:100px;
    height: 40px;
    width: 40px;
    
}


/* Üstteki alan için gerekli olan styles */
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav a {
  font-size: 14px;
  display: inline-block;
  line-height: 12px;
  font-weight: 400;
  padding: 5px 6.7px;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  text-decoration: underline;
  opacity: .80;
}

.nav img:hover {
  opacity: .8;
}